$color-nav: green;
$margenes: 30px;
$ancho-grid: 90rem;
$espacio_row: 3rem;
$espacio_col: 3rem;
$color-blanco: #fff;

$color-gris-oscuro: #9e9e9e;
$color-gris-claro: #eeeeee;
$color-negro: #000;
$color-naranja: #ff5722;
$color-amarillo: #ffca28;
$font-default-tam: 1.6rem;

@font-face{
    font-family: "Lato";
    src:url(fonts/Lato-Black.ttf);
}