@font-face {
  font-family: "Lato";
  src: url(../../css/fonts/Lato-Black.ttf); }

@font-face {
  font-family: "Lato-Bold";
  src: url(../../css/fonts/Lato-Bold.ttf); }

@font-face {
  font-family: "Osw";
  src: url(../../css/fonts/Oswald-Bold.ttf); }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.u-texto-centrado {
  text-align: center !important; }

.u-margen-inf-grande {
  margin-bottom: 2rem; }

.row {
  max-width: 90rem;
  margin: 0 auto;
  text-align: center; }
  .row:not(:last-child) {
    margin-bottom: 2rem; }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 1rem; }
  .row .col-1-2 {
    width: calc((100% - 1rem)/2); }
  .row .col-1-3 {
    width: calc((100% - 2rem)/3); }
  .row .col-2-3 {
    width: calc(2*((100% - 2*1rem)/3) + 1rem); }
  .row .col-1-4 {
    width: calc((100% - 3* 1rem)/4); }
  .row .col-2-4 {
    width: calc(2*((100% - 3* 1rem)/4) + 1rem); }
  .row .col-3-4 {
    width: calc(3*((100% - 3* 1rem)/4) + 2*1rem); }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 1800px) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 1200px) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 600px) {
    html {
      font-size: 37.5%; } }

body {
  box-sizing: border-box;
  font-family: "Lato";
  font-weight: 400;
  line-height: 1.7;
  color: #eeeeee;
  padding: 3rem; }
  @media only screen and (max-width: 600px) {
    body {
      padding: 0; } }

.header {
  height: 60vh;
  background-image: url(../img/Summer-alcoholic-beverages-beer-mugs_3840x2160.jpg);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  background-size: cover;
  background-position: top;
  position: relative; }
  @media only screen and (max-width: 900px) {
    .header {
      height: 50vh;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); } }
  @media only screen and (max-width: 600px) {
    .header {
      height: 30vh;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); } }
  .header_logo_box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header_logo {
    height: 10rem; }
  .header_text_box {
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%); }
  .header .heading_primary {
    text-transform: uppercase;
    margin-bottom: 6rem; }
    .header .heading_primary-main {
      display: block;
      font-size: 6rem;
      font-weight: 400;
      letter-spacing: 3.5rem;
      animation-name: moveInLeft;
      animation-duration: 3s;
      animation-timing-function: ease-out;
      border: 8px red ridge; }
      @media only screen and (max-width: 600px) {
        .header .heading_primary-main {
          font-size: 5rem;
          letter-spacing: 2.2rem; } }
      @media only screen and (max-width: 600px) {
        .header .heading_primary-main {
          font-size: 4rem;
          letter-spacing: 1.9rem; } }
    .header .heading_primary-sub {
      display: block;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 1.5rem;
      animation-name: moveInRight;
      animation-duration: 3s;
      animation-timing-function: ease-out; }
      @media only screen and (max-width: 900px) {
        .header .heading_primary-sub {
          font-size: 1.5rem;
          letter-spacing: 1.2rem; } }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  font-size: 1.6rem;
  position: relative;
  transition: all .2s;
  border: none; }
  @media only screen and (max-width: 1800px) {
    .btn, .btn:link, .btn:visited {
      top: -90px; } }
  @media only screen and (max-width: 1200px) {
    .btn, .btn:link, .btn:visited {
      top: -80px; } }
  @media only screen and (max-width: 900px) {
    .btn, .btn:link, .btn:visited {
      top: -70px; } }
  @media only screen and (max-width: 600px) {
    .btn, .btn:link, .btn:visited {
      top: -60px; } }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.9); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.9); }

.btn-blanco {
  background-color: #fff;
  color: #9e9e9e; }
  .btn-blanco::after {
    background-color: #fff;
    color: #9e9e9e; }

.btn-animado {
  animation-name: moveInBottom;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-delay: 3s;
  animation-fill-mode: backwards; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.seccion-about {
  height: 70vh;
  background-image: linear-gradient(to right bottom, rgba(255, 87, 34, 0.4), rgba(255, 202, 40, 0.4)), url(../img/iphone5s-744x1392-wallpaper_04253.jpg);
  background-size: cover;
  height: 100%;
  background-position: top;
  position: relative;
  padding-top: 1rem;
  background-color: #eeeeee;
  color: #000; }

.seccion-about-modelo {
  height: 70vh;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 255, 0.4), rgba(255, 202, 40, 0.4)), url(../img/fondo.jpg);
  background-size: cover;
  height: 100%;
  background-position: top;
  position: relative;
  padding-top: 1rem;
  background-color: #eeeeee;
  color: #000; }

.heading-secundario {
  text-transform: uppercase;
  margin-bottom: 4rem;
  font-family: "Osw";
  display: block;
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 2rem;
  animation-name: moveInBottom;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  color: #fff;
  text-shadow: 5px 5px 5px #aaa; }
  @media only screen and (max-width: 900px) {
    .heading-secundario {
      font-size: 3rem;
      letter-spacing: 1.5rem; } }
  @media only screen and (max-width: 600px) {
    .heading-secundario {
      font-size: 2rem;
      letter-spacing: 1rem; } }

.heading-secundarioModelo {
  border: 8px yellowgreen dotted;
  border-radius: 20px/10px;
  box-shadow: 6px 6px 6px black;
  text-transform: uppercase;
  margin-bottom: 4rem;
  font-family: "Osw";
  display: block;
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 2rem;
  animation-name: moveInBottom;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  color: #fff;
  text-shadow: 5px 5px 5px #aaa; }
  @media only screen and (max-width: 900px) {
    .heading-secundarioModelo {
      font-size: 3rem;
      letter-spacing: 1.5rem; } }
  @media only screen and (max-width: 600px) {
    .heading-secundarioModelo {
      font-size: 2rem;
      letter-spacing: 1rem; } }

.titulos {
  text-transform: uppercase;
  margin-bottom: 4rem;
  font-family: "Osw";
  display: block;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 2rem;
  animation-name: moveInBottom;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  color: #fff;
  text-shadow: 5px 5px 5px #aaa; }
  @media only screen and (max-width: 900px) {
    .titulos {
      font-size: 3rem;
      letter-spacing: 1.5rem; } }
  @media only screen and (max-width: 600px) {
    .titulos {
      font-size: 2rem;
      letter-spacing: 1rem; } }

.parrafo {
  font-size: 1.6rem;
  opacity: 0.7;
  background-color: black;
  color: white; }
  .parrafo:last-child {
    margin-bottom: 3rem; }
  .parrafo:not(::last-child) {
    margin-bottom: 1rem; }

.composicion {
  position: relative; }
  .composicion_foto {
    width: 90%;
    border-radius: 20%;
    margin-left: 10px;
    box-shadow: 5px 5px 5px #aaa; }

.composicion_2 {
  position: relative; }
  .composicion_2_mainfoto {
    width: 80%;
    border-radius: 20%;
    box-shadow: 0 1.5rem, 4rem #000;
    transition: all .2s; }
    .composicion_2_mainfoto:hover {
      outline: 1.5rem solid blue;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem #000;
      z-index: 100; }
  .composicion_2_foto {
    width: 55%;
    border-radius: 20%;
    box-shadow: 0 1.5rem, 4rem #000;
    transition: all .2s;
    /*  @include respond(tab-port){
            float: left;
            position: relative;
            width: 33.3333%;
            box-shadow: 0 1.5rem 3rem rgba($color-negro, .2);
        }*/ }
    .composicion_2_foto-f1 {
      left: 0;
      top: -2rem;
      /* @include respond(tab-port){
                top: 0;
                
            }*/ }
    .composicion_2_foto-f2 {
      right: 0;
      top: 2rem; }
      @media only screen and (max-width: 900px) {
        .composicion_2_foto-f2 {
          top: -1;
          left: 0; } }
    .composicion_2_foto-f3 {
      left: 20%;
      top: 10rem; }
      @media only screen and (max-width: 900px) {
        .composicion_2_foto-f3 {
          top: 1;
          left: 0; } }
    .composicion_2_foto:hover {
      outline: 1.5rem solid blue;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem #000;
      z-index: 100; }

#pie {
  color: #fff; }
  #pie #redes {
    color: #fff;
    padding: 12px 12px;
    margin: 5px;
    font-size: 3rem; }
    @media only screen and (max-width: 1200px) {
      #pie #redes {
        font-size: 2.5rem; } }
    @media only screen and (max-width: 600px) {
      #pie #redes {
        font-size: 2rem; } }
  #pie #face {
    margin: 0px 3px 5px 10px;
    height: 60px;
    width: 60px; }
    @media only screen and (max-width: 1200px) {
      #pie #face {
        height: 50px;
        width: 50px; } }
    @media only screen and (max-width: 600px) {
      #pie #face {
        height: 40px;
        width: 40px; } }
  #pie #tw {
    margin: 0px 9px 10px 10px;
    height: 50px;
    width: 50; }
    @media only screen and (max-width: 1200px) {
      #pie #tw {
        height: 40px;
        width: 40px; } }
    @media only screen and (max-width: 600px) {
      #pie #tw {
        height: 30px;
        width: 30px; } }
  #pie #google {
    margin: 0px 15px 8px 10px;
    height: 50px;
    width: 50px;
    height: 50px;
    width: 50; }
    @media only screen and (max-width: 1200px) {
      #pie #google {
        height: 40px;
        width: 40px; } }
    @media only screen and (max-width: 600px) {
      #pie #google {
        height: 30px;
        width: 30px; } }

.header2 {
  height: 120vh;
  background-image: url(../img/corona.jpg);
  background-size: cover;
  background-position: top;
  position: relative; }
  @media only screen and (max-width: 900px) {
    .header2 {
      height: 80vh;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); } }
  @media only screen and (max-width: 600px) {
    .header2 {
      height: 75vh;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); } }
  .header2_logo_box {
    position: absolute;
    top: 4rem;
    left: 4rem;
    border-radius: 20%; }
  .header2_logo {
    height: 10rem;
    border-radius: 20%; }
  .header2_text_box {
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 900px) {
      .header2_text_box {
        top: 60%; } }
  .header2 .heading_primary {
    text-transform: uppercase;
    margin-bottom: 6rem; }
    .header2 .heading_primary-main {
      color: blue;
      display: block;
      font-size: 6rem;
      font-weight: 400;
      letter-spacing: 3.5rem;
      animation-name: moveInLeft;
      animation-duration: 3s;
      animation-timing-function: ease-out;
      border: 8px blue ridge;
      border-radius: 20px/10px;
      box-shadow: 6px 6px 6px black;
      text-shadow: 2px 2px 4px black; }
      @media only screen and (max-width: 600px) {
        .header2 .heading_primary-main {
          font-size: 5rem;
          letter-spacing: 2.2rem; } }
      @media only screen and (max-width: 600px) {
        .header2 .heading_primary-main {
          font-size: 4rem;
          letter-spacing: 1.9rem; } }
    .header2 .heading_primary-sub {
      display: block;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 1.5rem;
      animation-name: moveInRight;
      animation-duration: 3s;
      animation-timing-function: ease-out; }
      @media only screen and (max-width: 900px) {
        .header2 .heading_primary-sub {
          font-size: 1.5rem;
          letter-spacing: 1.2rem; } }
