@import "abstract/mixins";
@import "abstract/variables";
@import "base/animations";
@import "base/utilities";
@import "layout/grid";





* {
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;//1rem = 10px;   10/16 = 0.625 * 100 = 62.5%; 
    @include respond(desktop){
        font-size: 65%;//  12px;
    }
    @include respond(tab-land){
        font-size: 56.25%;//  9px;
        
    }
    @include respond(tab-port){
        font-size: 37.25%;//  9px;
       
    }
    @include respond(telefono){
        font-size: 37.5%;// 5px;
    }
    background-color: $color-negro;
    
       
}

body{
    
    box-sizing: border-box; //border por dentro del body
    @include respond(telefono){
        padding: 0;
    }

    font-family: "Lato";
    font-weight: 400;
    line-height: 1.7;
    color: $color-gris-claro;
    padding: 3rem; //3rem = 30px;
}    


.header{

    height: 80vh;
    background-image: url(../img/Summer-alcoholic-beverages-beer-mugs_3840x2160.jpg);
  
    
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
     
    //clip-path: polygon(0 100%, 100% 100%, 50% 0%); 
    @include respond(tab-port){
        height: 50vh;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); 
        
    } 
    @include respond(telefono){
        height: 30vh;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); 
        
    }
    background-size: cover;
    background-position: bottom;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    
    position: relative;

    &_logo_box{
    position: absolute;
    top: 4rem;
    left: 4rem;
    }

    

    &_text_box{
       position: absolute;
       top: 40%;
       left: 50%;
       text-align: center;
       transform: translate(-50%,-50%);
      
    }

    .heading_primary{
        text-transform: uppercase;
        margin-bottom: 6rem;

        &-main{
            display: block;
           // border-radius: 10px 5px 10px 5px;
            font-size: 6rem;
            font-weight: 400;
            letter-spacing: 3.5rem;
            animation-name: moveInLeft;
            animation-duration: 3s;
            animation-timing-function: ease-out;
            border: 8px red ridge;
            
           

            @include respond(telefono){
                font-size:5rem; 
                letter-spacing: 2.2rem;
            }
            @include respond(telefono){
                font-size:4rem; 
                letter-spacing: 1.9rem;
            }
        }

        &-sub{
            display: block;
            font-size: 2rem;
            font-weight: 700;
            letter-spacing: 1.5rem;
            animation-name: moveInRight;
            animation-duration: 3s;
            animation-timing-function: ease-out;
            
            @include respond(tab-port){
                font-size:1.5rem; 
                letter-spacing: 1.2rem;
            }
        }
    }
    

}
.head-3{
    padding-top: 5rem;
    height: 100vh;
   
 
  background-image: 
       url(../img/moc/mo.jpg);
       .heading_primary{
        text-transform: uppercase;
        margin-bottom: 3rem;

        &-main{
            color:red;
            border: 12px red groove;
            border-radius: 20px/10px;
        }
        &-sub{
            color: red;
        }
    }
}


.head-5{
    height: 100vh;
       background-image: 
            url(../img/molson.jpg);
       .heading_primary{
           text-transform: uppercase;
           margin-bottom: 6rem;
           &-main{
               color: greenyellow;        
               border: 8px greenyellow ridge;       
           }
           
       }
   }
.head-2{
    height: 100vh;
       background-image: 
            url(../img/corona.jpg);
       .heading_primary{
           text-transform: uppercase;
           margin-bottom: 6rem;
           &-main{
               color: blue;        
               border: 8px blue ridge;       
           }
           
       }
   }

.head-4{

    height: 120vh;
      
       background-image: 
            url(../img/victoriafondo.jpg);
       
       
       
   
       .heading_primary{
           text-transform: uppercase;
           margin-bottom: 3rem;
   
           &-main{
               color: red;
               border: 8px red ridge;
           }
           
   
           &-sub{
              // no hay estilo 
           }
       }
   }



.btn{
    &,
    &:link,
    &:visited{
        @include respond(desktop){
            top: -90px;
        }
        @include respond(tab-land){
            top: -80px;
        }
       
        @include respond(tab-port){
            top: -70px;
        }
        @include respond(telefono){
            top: -60px;
        }

        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        font-size: $font-default-tam;
        position: relative;
        transition: all .2s;
        border: none;
    }

    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-negro ,  0.9);
        &::after{
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active,
    &:focus{
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-blanco ,  0.9);
    }

    &-blanco{
        background-color: $color-blanco;
        color: $color-gris-oscuro;
        &::after{
            background-color: $color-blanco;
            color:$color-gris-oscuro;
        }
    }

    &-animado{
        animation-name: moveInBottom;
        animation-duration: 3s;
        animation-timing-function: ease-out;
        animation-delay: 3s;
        animation-fill-mode: backwards;
    }

    &::after{
        content:"";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

}
.seccion-about{
    height: 70vh;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
   
    background-image: linear-gradient(
        to right bottom,
        rgba($color-naranja, 0.4),
        rgba($color-amarillo, 0.4)),
         url(../img/iphone5s-744x1392-wallpaper_04253.jpg);
         background-size: cover;
         height: 100%;
         
             
    background-position: top;
    position: relative;
    padding-top: 1rem;
    background-color: $color-gris-claro;
    
        
    
}

.seccion-moc{
    background-image: linear-gradient(
        to right bottom,
        rgba(blue, 0.4),
        rgba($color-amarillo, 0.4)),
         url(../img/moc/noche.jpg);         
    
}
.seccion-molson{
    background-image: linear-gradient(
        to right bottom,
        rgba(green, 0.4),
        rgba($color-amarillo, 0.4)),
         url(../img/molson.jpg);         
    
}
.seccion-modelo{
    background-image: linear-gradient(
        to right bottom,
        rgba(blue, 0.4),
        rgba($color-amarillo, 0.4)),
         url(../img/fondo.jpg);
        
}
.seccion-victoria{
    background-image: linear-gradient(
        to right bottom,
        rgba(blue, 0.4),
        rgba($color-amarillo, 0.4)),
         url(../img/Summer-alcoholic-beverages-beer-mugs_3840x2160.jpg);
        
}


.heading-secundario{


    text-transform: uppercase;
        margin-bottom: 4rem;
        font-family: "Osw";
        border: 8px red ridge;
        

        
            display: block;
            font-size: 4rem;
            font-weight: 300;
            letter-spacing: 2rem;
            animation-name: moveInBottom;
            animation-duration: 3s;
            animation-timing-function: ease-out;
            color: $color-blanco;
            text-shadow: 5px 5px 5px #aaa;
            
           

            @include respond(tab-port){
                font-size:3rem; 
                letter-spacing: 1.5rem;
            }
            @include respond(telefono){
                font-size:2rem; 
                letter-spacing: 1rem;
            }
}
.secundario-modelo{
    border: 8px yellowgreen dotted;
            border-radius: 20px/10px;
    box-shadow: 0px 6px 6px black;
    text-transform: uppercase;
        margin-bottom: 4rem;
        font-family: "Osw";
}
.secundario-moc{
    border: 8px red inset;
            border-radius: 20px/10px;
    box-shadow: 0px 8px 6px black;
    text-transform: uppercase;
        margin-bottom: 4rem;
        font-family: "Osw";
}
.secundario-vic{
    border: 8px red inset;
            border-radius: 20px/10px;
    box-shadow: 0px 8px 6px black;
    text-transform: uppercase;
        margin-bottom: 4rem;
        font-family: "Osw";
}
.secundario-molson{
    border: 8px greenyellow inset;
            border-radius: 20px/10px;
    box-shadow: 0px 8px 6px black;
    text-transform: uppercase;
        margin-bottom: 4rem;
        font-family: "Osw";
}
.titulos{
    text-transform: uppercase;
        margin-bottom: 4rem;
        font-family: "Osw";        
            display: block;
            font-size: 2rem;
            font-weight: 300;
            letter-spacing: 2rem;
            animation-name: moveInLeft;
            animation-duration: 3s;
            animation-timing-function: ease-out;
            color: $color-blanco;
            text-shadow: 5px 5px 5px $color-blanco;
            @include respond(tab-port){
                font-size:3rem; 
                letter-spacing: 1.5rem;
            }
            @include respond(telefono){
                font-size:2rem; 
                letter-spacing: 1rem;
            }
}


.parrafo{
    position: relative;
    font-size: $font-default-tam;
    opacity: 0.8;
    text-align: left;
    animation-name: moveInRight;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    color: white;
   
    
    &:last-child{
        margin-bottom: 3rem;
    }
    &:not(::last-child){
        margin-bottom: 1rem;
    }
}
.composicion{
    position: relative;
    
    
    &_foto{
        width: 90%;
        height: 100%;
        
        border-radius: 20%;
       //margin-left: 10px;
       box-shadow: 5px 5px 5px  white; 
       
        
    
        
    }

}

.composicion_2{
    position: relative;
    &_mainfoto{
        width: 80%;
        border-radius: 2%;
        box-shadow: 0 1.5rem, 4rem $color-negro;
        //position: absolute;
        transition: all .2s;
        &:hover{
            outline: 1.5rem solid blue;
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem $color-negro;
           z-index: 100;
        }
    }
    &_foto{
        width: 55%;
        border-radius: 20%;
        box-shadow: 0 1.5rem, 4rem $color-negro;
        //position: absolute;
        transition: all .2s;
      

        &:hover{
            outline: 1.5rem solid blue;
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem $color-negro;
           z-index: 100;
        }
}
}

.composicion_3{
    position: relative;
    &_mainfoto{
        width: 80%;
        border-radius: 2%;
        box-shadow: 0 1.5rem, 4rem $color-naranja;
        //position: absolute;
        transition: all .5s;
        &:hover{
            outline: 1.5rem groove red;
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem $color-negro;
           z-index: 100;
        }
    }
    &_foto{
        width: 55%;
        border-radius: 20%;
        box-shadow: 0 1.5rem, 4rem $color-negro;
        //position: absolute;
        transition: all .2s;
      

        &:hover{
            outline: 1.5rem solid blue;
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem $color-negro;
           z-index: 100;
        }
}
}


#pie{
    color: $color-blanco;
    #redes{
        color: $color-blanco;
        padding: 12px 12px;
        margin: 5px;
        font-size: 3rem;
        @include respond(tab-land){
            font-size:2.5rem; 
            
        }
        @include respond(telefono){
            font-size:2rem;
        }
    }
   
    #face{
        margin: 0px 3px 5px 10px;
        height: 60px;
        width: 60px;
        
        @include respond(tab-land){
            height: 50px;
            width: 50px;
            
        }
        @include respond(telefono){
            height: 40px;
            width: 40px;
            
        }
    }
    
    #tw{
        margin: 0px 9px 10px 10px;
        height: 50px;
        width: 50;
        @include respond(tab-land){
            height: 40px;
            width: 40px;
            
        }
        @include respond(telefono){
            height: 30px;
            width: 30px;
            
        }
    }
    
    #google{
        margin: 0px 15px 8px 10px;
        height: 50px;
        width: 50px;
        height: 50px;
        width: 50;
        @include respond(tab-land){
            height: 40px;
            width: 40px;
            
        }
        @include respond(telefono){
            height: 30px;
            width: 30px;
            
        }
    }
}


.card{
    position: relative;
    &_lado{
        height: auto;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        @include respond(tab-port){
            top: 10px;
            
        }
        @include respond(telefono){
            top: 60px;
        }
        left: 0;
        width: 100%;
        //box-shadow: 5px 5px 5px $color-negro;
        border-radius: 20px;

      display: table-cell;
    vertical-align: middle;
      


        
       
        overflow: hidden;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden
        &-front{
            background-color: $color-blanco;
            
        
           
            
        }
        &-back{
            transform: rotateY(180deg);
           
        }
    }
    &:hover &_lado-front{
        transform: rotateY(-180deg);
    }
    &:hover &_lado-back{
        transform: rotateY(0);
    }

    &_foto{
        width: 100%;
        background-size: cover;
        height: auto;
        position: relative;
        
        
       
    }

   

}

.card{
    position: relative;
    height: 38rem;
    perspective: 150rem;
    -moz-perspective: 150rem;
    @include respond(tab-port){
        top: 10px;
        
    }
    @include respond(telefono){
        top: 60px;
    }

    &_lado{
        height: 38rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($color-negro, .15);
        overflow: hidden;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        
        &-front{
            
            border-radius: 20%;
        }

        &-back{
            transform: rotateY(180deg);
           
        }
    }
}






