@import "abstract/mixins";
@import "base/animations";
@import "layout/grid";

$color-blanco: #fff;
$color-gris-oscuro: #9e9e9e;
$color-negro: #000;
$color-naranja: #ff5722;
$color-naranja-claro: #ffca26;
$color-gris-claro: #eeeeee;

$font-default-tam: 1.6rem;

@font-face{
    font-family: "Lato";
    src: url(../fonts/Lato-Bold.ttf);
}

*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%; //rem = 10px=/16 = 0.625 * 100 = 62.5
    @include respond(desktop){
        font-size: 75%;// 12px

    }
    @include respond(tab-land){
        font-size: 56.25%;// 12px
        
    }
    @include respond(telefono){
        font-size: 37.5%;// 12px
        
    }
}

body{
    @include respond(telefono){
        padding: 0;// 12px
        
    }
    padding: 3rem; //3rem=30px
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-gris-claro;
}

.header{

    height: 85vh;
    background-image: linear-gradient(to right bottom,
    rgba($color-naranja,.5),
    rgba($color-naranja-claro,.5)

    
    
     ), url(../img/b.jpg);

     
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);//izSUP,derSUP,derINF,izINF
    @include respond(telefono){
        height: 75vh;
   // background-image: linear-gradient(to right bottom,
    //rgba($color-naranja,.5),
   // rgba($color-naranja-claro,.5)
        
    
    
  //   ), url(../img/b.jpg);
     clip-path: polygon(0 0, 100% 0, 100% 70%, 0 80%);
    }
    background-size: cover;
    background-position: bottom;
    position: relative;

    

    &_logo_box{
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &_logo{
        height: 10rem;
    }
    &_text_box{
        position: absolute;
        top: 40%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);//Posocionar en el centro
        @include respond(tab-port){
            top: 60%;
        }
    }
    
}

.heading_primary{
    text-transform: uppercase;

    margin-bottom: 6rem;

    &-main{
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;

        @include respond(tab-port){
            font-size: 5rem;
            letter-spacing: 2.2rem;
        }

        @include respond(telefono){
            font-size: 4rem;
            letter-spacing: 1.9rem;
        }

        animation-name: moveInLeft;
        animation-duration: 2s;
        animation-timing-function: ease-out;

    }
    &-sub{
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.5rem;

        @include respond(tab-port){
            font-size: 1.5rem;
            letter-spacing: 1.2rem;
        }

        animation-name: moveInRight;
        animation-duration: 2s;
        animation-timing-function: ease-out;
    }
}

.btn{
    
    &,
    &:link,
    &:visited{
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius:10rem;
        font-size: $font-default-tam;
        position: relative;
        transition: all .2s;
        border: none;


       

    }

    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-negro, .2); 
        &::after{
            transform: scaleX(1.4) scaleY(1.6);
           opacity: 0; //lo vulve invisible
        }
    }

    &:active{
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-negro, .2);
    }

    &-azul{
        background-color: $color-blanco;
        color: $color-gris-oscuro; 
    }

    &-blanco{
        background-color: $color-blanco;
        color: $color-gris-oscuro;
        &::after{
            background-color: $color-blanco;
        }
    }
    &-animado{
        animation-name: moveInUnder;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        animation-delay: .75s;
        animation-fill-mode: backwards;
    }

    &::after{
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    

    
}