.row{
    max-width: $ancho-grid;
    margin: 0 auto;
    text-align: center;
    &:not(:last-child){
        margin-bottom: $espacio_row;
    }

    @include clearfix();

    [class^="col-"]{
        float: left;
        &:not(:last-child){
            margin-right: $espacio_col;
        }

        //background-color: $color-nav;
        //color: $color-blanco;
    }

    .col-1-2{
        width: calc((100% - #{$espacio_col})/2);
    }

    .col-1-3{
        width: calc((100% - #{$espacio_col*2})/3);
    }

    .col-2-3{
        width: calc(2*((100% - 2*#{$espacio_col})/3) + #{$espacio_col});
    }

    .col-1-4{
        width: calc((100% - 3* #{$espacio_col})/4);
    }
.col-2-4{
        width: calc(2*((100% - 3* #{$espacio_col})/4) + #{$espacio_col});
    }

.col-3-4{

        width: calc(3*((100% - 3* #{$espacio_col})/4) + 2*#{$espacio_col});
        
    }
   // h1{
      //  font-family: IndieFlower, cursive;
    //}

}